*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Support {
    color: white;
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 119.5%;
}

.bookFree {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 119.5%;
    /* identical to box height, or 29px */
    color: #FF0007;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.d {
    float: left;
    overflow: hidden;
}
 .d .d-btn {
     font-size: 16px;
     border: none;
     outline: none;
     color: gray;
     padding: 14px 16px;
     background: inherit;
     text-transform: uppercase;
 }

 .navbar a:hover, .d:hover .d-btn {
      color: white;
 }

 .d-content {
     display: none;
     position: absolute;
     width: 100%;
     left: 0;
     background:lightgray;
     
 }
.d:hover .d-content {
    display: block;
}